/*public*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: #f7f7f7;
    color: #333333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333333;
}
/*nav*/
.nav {
    max-width: 750px;
    background: #fff;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}
.nav .logo {
    width: 105.5px;
    height: 30px;
    margin: 5px 0 5px 15px;
    background: url("../images/sprite.png");
    background-position-x: -10px;
    background-position-y: -30px;
}
.nav button {
    border: none;
    outline: none;
    background: #fff;
    margin-left: 13px;
}
.nav button:hover {
    color:#1f91d1;
    cursor:pointer;
}
.nav button::after {
    content:'∨';
    margin-left: 2px;
}
.nav .search {
    width: 100px;
    height: 23px;
    border: 1px solid #999999;
    border-radius: 8px;
}
.nav .nav-icon {
    width: 20px;
    height: 20px;
    margin: 10px auto;
    background: url("../images/sprite.png") 51px -34px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
/* swiper */
.swiper-container {
    max-width: 750px;
    margin: 0px auto;
    background: #fff;
}
.swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
}
/* nav2 */
.nav2 {
    max-width: 750px;
    margin: 0px auto;
    background: #fff;
    text-align: center;
}
.nav2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav2 ul li {
    padding: 12px 0;
    width: 25%;
}
.nav2 ul li a {
    font-size: 12px;
}
.nav2 ul li:nth-of-type(1) a > div {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    background: url("../images/sprite.png") -75px 135px;
    margin-bottom: 4px;
}
.nav2 ul li:nth-of-type(2) a > div {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    background: url("../images/sprite.png") 49px 135px;
    margin-bottom: 4px;
    position: relative;
}
.nav2 ul li:nth-of-type(2) a > div::after {
    content: '免费';
    position: absolute;
    right: -33px;
    background: #f39800;
    padding: 3px;
    color: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}
.nav2 ul li:nth-of-type(3) a > div {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    background: url("../images/sprite.png") -10px 135px;
    margin-bottom: 4px;
    position: relative;
}
.nav2 ul li:nth-of-type(3) a > div::after {
    content: '口碑';
    position: absolute;
    right: -33px;
    background: #fd7257;
    padding: 3px;
    color: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
}
.nav2 ul li:nth-of-type(4) a > div {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    background: url("../images/sprite.png") -137px 135px;
    margin-bottom: 4px;
}
/* feature */
.feature {
    max-width: 750px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature .left {
    display: block;
    width: 48%;
    height: 140px;
    background: #fff;
    margin-right: 7px;
    border: 1px solid #eeeeee;
}
.feature .left p {
    font-size: 16px;
}
.feature .left p:nth-of-type(1) {
    padding: 15px 0px 10px 15px;
}
.feature .left p:nth-of-type(1) span {
    padding: 5px;
    color: #fff;
    background: #f39800;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 5px;
    font-size: 12px;
}
.feature .left p:nth-of-type(2) {
    margin-left: 15px;
    color: #d44c6c;
}
.feature .right {
    width: 44%;
    height: 140px;
}
.feature .right a {
    display: block;
    width: 100%;
    height: 67px;
    background: #fff;
    border: 1px solid #eeeeee;
}
.feature .right a p:nth-of-type(1) {
    padding: 10px 0px 10px 10px;
}
.feature .right a p:nth-of-type(2) {
    padding:0px 0px 0px 10px;
    color: #d44c6c;
    font-size: 14px;
    margin-bottom: 20px;
}
.feature .right a:nth-of-type(1) {
    margin-bottom: 6px;
}
/* hot */
.hot {
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 12px;
}
.hot > p {
    width: 100%;
    max-width: 750px;
    color: #127a59;
    padding: 12px 0 15px 0;
    position: relative;
}
.hot > p::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    margin-left: -70px;
    background: url("../images/sprite.png") -266px 29px;
    margin-right: 5px;
}
.hot > p::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    background: url("../images/sprite.png") -100px 29px;
    margin-left:50px;
}
.hot a {
    display: block;
    width: 30%;
    border: 1px solid #eeeeee;
}
.hot a div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot a div span {
    display: inline-block;
    margin: auto 5px auto 5px;
}
.hot a div > p {
    font-size: 14px;
}
.hot a:nth-of-type(1),
.hot a:nth-of-type(2) {
    margin-right: 10px;
}
.hot a:nth-of-type(3) div p {
    font-size: 12px;
}
.hot a:nth-of-type(1) div:nth-of-type(1) span {
    margin-top: 9.75px;
    width: 36px;
    height: 30.5px;
    background:url('../images/sprite.png') -58px 69px;
}
.hot a:nth-of-type(2) div:nth-of-type(1) span {
    width: 22.5px;
    height: 31.5px;
    margin-top: 9.25px;
    background:url('../images/sprite.png') -10px 69px;
}
.hot a:nth-of-type(3) div:nth-of-type(1) span {
    width: 18.5px;
    height: 32.5px;
    margin-top: 8.75px;
    background:url('../images/sprite.png') -118px 69px;
}
/* free */
.free {
    max-width: 750px;
    margin: 10px auto;
    background: #fff;
    text-align: center;
}
.free > p:nth-of-type(1) {
    text-align: center;
    vertical-align: middle;
    color: #127a59;
    padding: 12px 0 15px 0;
}
.free > p:nth-of-type(1)::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    margin-left: -90px;
    background: url("../images/sprite.png") -410px 68px;
    margin-right: 5px;
}
.free > p:nth-of-type(1)::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    background: url("../images/sprite.png") -197px 68px;
    margin-left:44px;
}
.free > p:nth-of-type(2) {
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-align: center;
}
.free > p:nth-of-type(2) > span {
    display: inline-block;
    width: 20px;
    height: 22.5px;
    margin: 2.5px 5px;
    color: #fff;
    padding-left: 1px;
}
.free > p:nth-of-type(2) > span:nth-of-type(1) {
    background: url("../images/sprite.png") -152px 176px;
}
.free > p:nth-of-type(2) > span:nth-of-type(2) {
    background: url("../images/sprite.png") -152px 176px;
}
.free > p:nth-of-type(2) > span:nth-of-type(3) {
    background: url("../images/sprite.png") -152px 176px;
}
.free form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.free form div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    height: 36px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
.free form div span {
    display: inline-block;
    margin: 4.5px;
    width: 25px;
    height: 25px;
}
.free form div:nth-of-type(1) span {
    background: url("../images/sprite.png") -60px 175px;
}
.free form div:nth-of-type(2) span {
    background: url("../images/sprite.png") -113px 175px;
}
.free form div input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}
.free form button:nth-of-type(1) {
    width: 41%;
    height: 36px;
    border: 1px solid #cccccc;
    outline: none;
    background: transparent;
    margin-right: 2%;
    font-size: 14px;
}
.free form button:nth-of-type(1):hover {
    color: #fff;
    background: #1f91d1;
    cursor: pointer;
}
.free form select {
    width: 41%;
    height: 36px;
    border: 1px solid #cccccc;
    text-align: center;
    font-size: 14px;
}
.free form select option {
    text-align: center;
    margin: 0 auto;
}
.free form button:nth-of-type(2) {
    width: 84%;
    background: #127a59;
    color: #fff;
    height: 36px;
    border: none;
    outline: none;
    margin-top:10px;
    margin-bottom: 20px;
}
.free form button:nth-of-type(2):hover {
    cursor: pointer;
}
.new-older {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.new-older table {
    width: 84%;
    margin: 0 auto;
    background: #fff;
    border-collapse: collapse;
}
.new-older table caption {
    font-size: 14px;
    padding-bottom: 15px;
    background: #fff;
}
.new-older table thead,
.new-older table tbody {
    text-align: center;
}
.new-older table thead {
    color: #666666;
}
.new-older table tbody {
    color: #999999;
}
.new-older table thead tr th {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666666;
}
.new-older table tbody tr td {
    font-size: 12px;
    padding-top: 5px;
}
/* recommend */
.recommend {
    max-width: 750px;
    margin: 10px auto;
    background:#fff;
    text-align: center;
    padding-bottom: 10px;
}
.recommend > p {
    width: 100%;
    max-width: 750px;
    color: #127a59;
    padding: 12px 0 15px 0;
    position: relative;
}
.recommend > p::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    margin-left: -80px;
    background: url("../images/sprite.png") -266px 29px;
    margin-right: 5px;
}
.recommend > p::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    background: url("../images/sprite.png") -100px 29px;
    margin-left:60px;
}
.recommend .swiper2 {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.recommend .swiper2 .swiper-wrapper {
    width: 100%;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide {
    width: 100px;
    height: 175px;
    border: 1px solid#eeeeee;
    border-radius: 10px;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide:nth-of-type(1) {
    margin-left: 10px;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide div {
    width: 60px;
    height: 60px;
    background: #999999;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 5px;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide p:nth-of-type(1) {
    font-size: 14px;
    margin-bottom: 5px;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide p:nth-of-type(2) {
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
    overflow: hidden;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide p:nth-of-type(2) span {
    color: #d44c6c;
}
.recommend .swiper2 .swiper-wrapper .swiper-slide > a:last-child {
    color: #fff;
    background: #f39800;
    border-radius: 10px;
    font-size: 12px;
    padding: 2.5px 5px;
}
.recommend > a:last-child {
    display: block;
    width: 200px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    background: #127a59;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 12px;
}
/* zxstyle */
.zxstyle {
    max-width: 750px;
    margin: 10px auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background: #fff;
}
.zxstyle > p {
    width: 100%;
    max-width: 750px;
    color: #127a59;
    padding: 12px 0 15px 0;
    position: relative;
}
.zxstyle > p::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    margin-left: -70px;
    background: url("../images/sprite.png") -266px 29px;
    margin-right: 5px;
}
.zxstyle > p::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    background: url("../images/sprite.png") -100px 29px;
    margin-left:50px;
}
.zxstyle ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.zxstyle ul li {
    width: 25%;
    border-bottom: 1px solid #cccccc;
}
.zxstyle ul li a {
    font-size: 12px;
}
.zxstyle-active {
    border-bottom: 1px solid #127a59 !important;
}
.zxstyle-active a {
    color: #000 !important
}
.zxstyle > a:last-child {
    display: block;
    width: 200px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    background: #127a59;
    color: #fff;
    margin: 10px auto 5px auto;
    padding-bottom: 10px;
    font-size: 12px;
}
.zxstyle .swiper-wrapper .swiper-slide {
    overflow: hidden;
}
.zxstyle .swiper-wrapper .swiper-slide img a img {
    width: 100%;
    height: 100%;
}
/* price */
.price {
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.price div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price > p {
    width: 100%;
    max-width: 750px;
    color: #127a59;
    padding: 12px 0 15px 0;
    position: relative;
}
.price > p:nth-of-type(1) {
    text-align: center;
    vertical-align: middle;
    color: #127a59;
    padding: 12px 0 15px 0;
}
.price > p:nth-of-type(1)::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    margin-left: -92px;
    background: url("../images/sprite.png") -410px 68px;
}
.price > p:nth-of-type(1)::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    background: url("../images/sprite.png") -197px 67px;
    margin-left:45px;
}
.price img:nth-of-type(1) {
    width: 100px;
    height: 80px;
    margin-right: 10px;
}
.price div > button {
    width: 65px;
    height: 70px;
    background: #127a59;
    color: #fff;
    border: none;
    outline: none;
}
.price form {
    width: 130px;
    margin-right: 10px;
}
.price form div {
    position: relative;
}
.price form div span {
    position: absolute;
    right: 0;
    font-size: 12px;
    padding-right: 8px;
}
.price div form input {
    border: 1px solid #eeeeee;
    padding-left: 8px;
}
.price div form button {
    text-align: left;
    background: #fff;
    color: #999999;
    margin-bottom: 5px;
    padding-left: 8px;
    border: 1px solid #eeeeee;
    font-size: 12px;
}
.price div form button,
.price div form input {
    width: 130px;
    height: 30px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
}
.price > p:last-child {
    font-size: 12px;
    color: #999999;
    margin-left: 55px;
    margin-top: -15px;
}
::-webkit-input-placeholder { 
    /* WebKit browsers */    
    color:#999;
}
:-moz-placeholder { 
    /* Mozilla Firefox 4 to 18 */    
    color:#999;
}
::-moz-placeholder { 
    /* Mozilla Firefox 19+ */    
    color:#999;
}
:-ms-input-placeholder { 
    /* Internet Explorer 10+ */  
    color:#999;
}
/* news */
.news {
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    padding: 10px;
}
.news > p:nth-of-type(1) {
    text-align: center;
    vertical-align: middle;
    color: #127a59;
    padding: 12px 0 15px 0;
}
.news > p {
    width: 100%;
    max-width: 750px;
    color: #127a59;
    padding: 12px 0 15px 0;
    position: relative;
}
.news > p::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    margin-left: -70px;
    background: url("../images/sprite.png") -266px 29px;
    margin-right: 5px;
}
.news > p::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 25px;
    left: 50%;
    background: url("../images/sprite.png") -100px 29px;
    margin-left:50px;
}
.news ul:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
.news ul:nth-of-type(1) li {
    width: 33.3%;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}
.news-li-active {
    border-bottom: 1px solid #127a59 !important;
}
.news-li-active a {
    color: #000 !important;
}
.news ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.news ul:nth-of-type(2) li {
    width: 170px;
    overflow: hidden;
}
.news ul:nth-of-type(2) li img {
    width: 100%;
    height: 100px;
}
.news ul:nth-of-type(2) li:nth-of-type(1) {
    margin-right: 10px;
}
.news ul:nth-of-type(2) li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: left;
}
.news ul:nth-of-type(2) li span {
    display: block;
    font-size: 12px;
    text-align: left;
    color: #666666;
}
.news ul:nth-of-type(3) {
    display: flex;
}
.news ul:nth-of-type(3) a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news ul:nth-of-type(3) li {
    width: 100%;
}
.news ul:nth-of-type(3) li img {
    width: 110px;
    height: 75px;
    margin: 10px 10px 10px 0;
}
.news ul:nth-of-type(3) li div {
    position: relative;
    text-align: left;
    width: 235px;
    height: 75px;
}
.news ul:nth-of-type(3) li div p {
    height: 42px;
    margin-bottom: 10px;
    overflow: hidden;
}
.news ul:nth-of-type(3) li div span {
    font-size: 12px;
    color: #666666;
}
/* 媒体查询 */
@media screen and (min-width:750px) {
    /* price */
    .price img:nth-of-type(1) {
        width: 200px;
        height: 160px;
        margin-right: 10px;
    }
    .price div > button {
        width: 130px;
        height: 140px;
        background: #127a59;
        color: #fff;
        border: none;
        outline: none;
        font-size: 16px;
    }
    .price form {
        width: 260px;
        margin-right: 10px;
    }
    .price div form button {
        margin-bottom: 10px;
    }
    .price div form button,
    .price div form input {
        font-size: 16px;
        width: 260px;
        height: 60px;
        outline: none;
        cursor: pointer;
    }
    .price form div span {
        font-size: 16px;
    }
    /* news */
    .news ul:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .news ul:nth-of-type(2) li {
        width: 340px;
        overflow: hidden;
    }
    .news ul:nth-of-type(2) li img {
        width: 100%;
        height: 200px;
    }
    .news ul:nth-of-type(2) li:nth-of-type(1) {
        margin-right: 10px;
    }
    .news ul:nth-of-type(2) li p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        text-align: left;
    }
    .news ul:nth-of-type(2) li span {
        display: block;
        font-size: 12px;
        text-align: left;
        color: #666666;
    }
    .news ul:nth-of-type(3) li img {
        width: 220px;
        height: 150px;
    }
    .news ul:nth-of-type(3) li div {
        width: 470px;
        height: 150px;
    }
    .news ul:nth-of-type(3) li div p {
        margin-bottom: 85px;
    }
}
